{% extends 'base.html' %}
{% load static %}

{% block title %}Order Placed Successfully - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Order has been placed successfully.">
{% endblock %}

{% block content %}

<body id="pages">
<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space30"></div>

	<!-- Main content -->
	<div class="page-wrap container wrap-404">
		{% if messages %}
	    <ul style="list-style-type: none;" class="messages">
	        {% for message in messages %}
	        <li class="alert alert-{{ message.tags }}">{% if message.tags == "danger" %}<i class="fa fa-times"></i> {% elif message.tag == "success" %}<i class="fa fa-check"></i> {% endif %}{{ message }}</li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	    <h1>Thank you so much for your order!</h1>
		<h3>Your order has been placed successfully!</h3>
		<div class="space30"></div>
		<div class="col-md-12 no-padding columns mb0">
	    	<i class="fa fa-unlock"></i>
	        	<h4>Your account access details have been unlocked and are available.</h4>
	        <div class="space30"></div>
        	
	        {% include 'orders/snippets/order_list_item.html' with order=order %}
        	
	        <div class="space30"></div>
		</div>	
	</div>

</div>
</body>

{% endblock %}







