{% extends 'base.html' %}
{% load static %}

{% block title %}Order Placed Successfully - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Order has been placed successfully.">
{% endblock %}

{% block content %}

<body id="pages">
<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space30"></div>

	<!-- Main content -->
	<div class="page-wrap container wrap-404">
		{% if messages %}
	    <ul style="list-style-type: none;" class="messages">
	        {% for message in messages %}
	        <li class="alert alert-{{ message.tags }}">{% if message.tags == "danger" %}<i class="fa fa-times"></i> {% elif message.tag == "success" %}<i class="fa fa-check"></i> {% endif %}{{ message }}</li>
	        {% endfor %}
	    </ul>
	    {% endif %}
		<h3>Order has been placed successfully!</h3>
		<div class="space30"></div>
		<div class="col-md-12 no-padding columns mb0">
	    	<i class="icon-confused icon-404"></i>
	        
			<h1>Thank you so much for your order!</h1>
			
	        <div class="space30"></div>
        	<a class="btn btn-primary btn-lg btn-green uppercase" href="{{ order.get_absolute_url }}">Account Access Details</a>
        	<a class="btn btn-primary btn-lg btn-green uppercase" href="{% url 'orders:list' %}">View All Your Orders</a>
	        <div class="space30"></div>
		</div>	
	</div>

</div>
</body>

{% endblock %}







