{% extends 'base.html' %}
{% load static %}

{% block title %}Order Placed Successfully - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Order has been placed successfully.">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container shop-form-wrap">
		<div class="row">
			<div class="col-md-12">
				{% if messages %}
			    <ul style="list-style-type: none;" class="messages">
			        {% for message in messages %}
			        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
			        {% endfor %}
			    </ul>
			    {% endif %}
				<h3>Order has been placed successfully!</h3>
				<h5>Your account details are on their way!</h5>
			</div>
		</div>
		<!-- Shop Content -->
		<div role="main" class="main shop">
			<div class="row">
				<div class="col-md-12">
					


				</div>
			</div>
		</div>
	</div>
</div>
</body>

	

</div>
</body>

{% endblock %}