{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Our blog with posts helping you set up your accounts">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<!-- Main content -->
	<div class="page-wrap container">
		<div class="space60"></div>
		<div class="col-md-12 no-padding columns">
			<div class="row">

				<!-- Blog content -->
				<div class="col-md-12 blogpost">
					<article class="post">
						<div class="post-thumb">
							{% if post.title_img %}
								<img width="690" height="310" src="{{ post.title_img.url }}" alt="Royale Accounts blog post display image.">
							{% else %}
								<img src="//placehold.it/690x310" class="img-responsive" alt="Royale Accounts blog post display image.">
							{% endif %}
						</div>
						<h3><a href="#">{{ post.title }}</a></h3>
						<div class="blog-meta"><span><i class="fa fa-user"></i> {{ post.author }}</span> <span><i class="fa fa-clock-o"></i> {{ post.written_the }}</span> <span><i class="fa fa-eye"></i>{{ post.views }}</span></div>
						<div class="space20"></div>
						<p><span class="dropcap-color">O</span><span class="dark-text">nce you've purchased your account through us, you may be wondering how to get it up and running on your device. In this post, we'll walk you through exactly how to set it up. Let's get started.</span></p>
						<div class="space40"></div>
						<ol>
							<li>
								<h4>Sign out of your current supercell ID.</h4>

								<p>If this is your first Clash Royale account you can skip this step.</p>
							</li>
							<li>
								<h4>Enter email and password as new Supercell ID.</h4>
							</li>
							<li>
								<h4>Get verification code from email and enter it to verify your supercell ID.</h4>
							</li>
							<li>
								<h4>You are done.</h4>
							</li>
						</ol>
					</article>
				</div>
				<!-- Blog content -->
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}