{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Our blog with posts helping you set up your accounts">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<!-- Main content -->
	<div class="page-wrap container">
		<div class="space60"></div>
		<div class="col-md-12 no-padding columns">
			<div class="row">

				<!-- Blog content -->
				<div class="col-md-12 blogpost">
					<article class="post">
						<div class="post-thumb">
							{% if post.title_img %}
								<img width="690" height="310" src="{{ post.title_img.url }}" class="img-responsive" alt="Royale Accounts blog post display image.">
							{% else %}
								<img src="//placehold.it/690x310" class="img-responsive" alt="Royale Accounts blog post display image.">
							{% endif %}
						</div>
						<h3><a href="#">{{ post.title }}</a></h3>
						<div class="blog-meta"><span><i class="fa fa-user"></i> {{ post.author }}</span> <span><i class="fa fa-clock-o"></i> {{ post.written_the }}</span> <span><i class="fa fa-eye"></i>{{ post.views }}</span></div>
						<div class="space20"></div>
						{{ post.content }}
						<div class="clear"></div>
						<div class="space30"></div>
						<div class="divider"></div>
						<div class="clear"></div>
						<div class="space30"></div>
						<h4>Related Blogposts</h4>
						<div class="space20"></div>
						<div class="home-projects home-projects2 related-posts">
							<div class="home-mission home-blog single-post">
								<div id="home-projects2" class="owl-carousel">
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img"> 
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<!-- Blog content -->
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}