{% extends 'base.html' %}
{% load static %}

{% block title %}Blog - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Our blog with posts helping you set up your accounts">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<!-- Main content -->
	<div class="page-wrap container">
		<div class="space60"></div>
		<div class="col-md-12 no-padding columns">
			<div class="row">

				<!-- Blog content -->
				<div class="col-md-12 blogpost">
					<article class="post">
						<div class="post-thumb">
							{% if post.title_img %}
								<img width="690" height="310" src="{{ post.title_img.url }}" alt="Royale Accounts blog post display image.">
							{% else %}
								<img src="//placehold.it/690x310" class="img-responsive" alt="Royale Accounts blog post display image.">
							{% endif %}
						</div>
						<h3><a href="#">{{ post.title }}</a></h3>
						<div class="blog-meta"><span><i class="fa fa-user"></i> {{ post.author }}</span> <span><i class="fa fa-clock-o"></i> {{ post.written_the }}</span> <span><i class="fa fa-eye"></i>{{ post.views }}</span></div>
						<div class="space20"></div>
						<p><span class="dropcap-color">L</span><span class="dark-text">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet massa at dui aliquet scelerisque.
							Fusce a neque arcu, tempor congue dolor.</span> Phasellus diam enim, vulputate sed ornare eu, fringilla ve;
							sapien. Fusce metus ligula, adipiscing vitae egestas volutpat, laoreet eget augue. Duis egestas, dui at molestie scelerisque, felis nisl lobortis velit, et consequat eros nibh id lorem. Mauris nulla diam, sollicitudin eu interdum a, consequat non neque. Curabitur consequat semper justo, a fringilla odio consectetur eget. Suspendisse aliquet dapibus euismod. Pellentesque faucibus libero at neque dignissim accumsan. Fusce arcu quam, porta eu suscipit tincidunt, faucibus eu nulla. Nunc tincidunt lectus id felis ullamcorper gravida. Aliquam ultrices leo non neque facilisis at sagittis nulla semper. Morbi orci tortor, ornare ut scelerisque eu, condimentum adipiscing felis. Sed quam ante, commodo in cursus at, pretium eu libero. Quisque fringilla, justo ac vehicula vestibulum, nisl sem sollicitudin neque, id condimentum elit erat in orci. Etiam neque lectus, hendrerit eget elementum non, interdum in nibh.
						</p>
						<div class="space20"></div>
						<p>Nulla facilisi. Aenean mattis lectus ac nisl faucibus aliquet. Pellentesque et mi sagittis dui condimentum consectetur. Suspendisse potenti. Sed ut rhoncus purus. Donec purus sem, feugiat in iaculis non, tincidunt in eros. Duis venenatis sem sit amet est tempor non accumsan ipsum lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce facilisis justo ac nisi rutrum tincidunt.</p>
						<div class="space20"></div>
						<p class="blockquote-light">Curabitur ut nunc tellus. Vestibulum ut urna gravida lorem ultrices malesuada quis eu elit. Curabitur justo purus, mattis id pretium eu, mollis a leo. Vivamus nec dui arcu. Donec bibendum malesuada erat eu feugiat. Suspendisse non risus sodales nunc ultrices interdum. Mauris tincidunt commodo accumsan.</p>
						<div class="space20"></div>
						<p>Curabitur consequat semper justo, a fringilla odio consectetur eget. Suspendisse aliquet dapibus euismod. Pellentesque faucibus libero at neque dignissim accumsan. Fusce arcu quam, porta eu suscipit tincidunt, faucibus eu nulla. Nunc tincidunt lectus id felis ullamcorper gravida. Aliquam ultrices leo non neque facilisis at sagittis nulla semper. Morbi orci tortor, ornare ut scelerisque eu, condimentum adipiscing felis. Sed quam ante, commodo in cursus at, pretium eu libero. Quisque fringilla, justo ac vehicula vestibulum, nisl sem sollicitudin neque, id condimentum elit erat in orci.</p>
						<div class="clear"></div>
						<div class="space30"></div>
						<div class="divider"></div>
						<div class="clear"></div>
						<div class="space30"></div>
						<h4>Related Blogposts</h4>
						<div class="space20"></div>
						<div class="home-projects home-projects2 related-posts">
							<div class="home-mission home-blog single-post">
								<div id="home-projects2" class="owl-carousel">
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img"> 
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
									<div class="item">
										<div class="col-md-12 home-blog-content">
											<div class="home-blog-inner">
												<img src="//placehold.it/451x326" class="img-responsive" alt="img">
												<div class="home-blog-overlay">
													<div class="overlay">
														<div class="overlay-inner">
															<a href="#"><i class="fa fa-link"></i></a>
														</div>
													</div>
													<div class="blog-meta"><span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span></div>
												</div>
											</div>
											<a href="#">
												<h4>Lorem ipsum dolor sit</h4>
											</a>
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
				<!-- Blog content -->
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}