{% extends 'base.html' %}
{% load static %}

{% block title %}Clash Royale Accounts{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container">
		<div class="row">
			<div class="col-md-12">
				<h3>Shop</h3>
			</div>
		</div>
		<!-- Shop Content -->
		<div role="main" class="main shop">
			{% if account_list %}
			<div class="row">
				<div class="col-md-12">
					<div class="space20"></div>
					<div class="row">
						<ul class="products thumb-info-list">
    						{% for account in account_list %}
            					{% include 'accounts/snippets/card.html' with instance=account cart=cart conversion_rate=conversion_rate %}
    						{% endfor %}
    					</ul>
					</div>
					{% if is_paginated %}
						<div class="row page-nav">
							<div class="col-md-12 no-padding">
								<div class="col-md-6">
									<ul>
									{% if page_obj.has_previous %}
										<li><a href="?page=1">1</a></li>
										<li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                					{% endif %}

									<li class="active"><a href="#">{{ page_obj.number }}</a></li>

                					{% if page_obj.has_next %}
                    					<li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                					{% endif %}
										
									</ul>
								</div>

								<div class="col-md-6">
									<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-md-12">
					<div class="space20"></div>
					<h4>Shop is Empty</h4>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</body>

{% endblock %}





