{% extends 'base.html' %}

{% load static %}
{% load account_tags %}

{% block title %}{{ account.get_arena_readable }}{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - {{ account.get_arena_readable }}">
{% endblock %}

{% block content %}
<body id="pages">
<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
			{% include 'base/navbar.html' %}
		</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container shop-form-wrap">
		<!-- Shop Content -->
		<div role="main" class="main shop">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6">
							<div id="product-single-item" class="owl-carousel">
								{% for image in images %}
									<div class="item">
										<img alt="{{ image.description }}" width="600" height="600" class="img-responsive img-rounded" src="{{ image.image.url }}">
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="summary entry-summary">
								<h2 class="shorter">{{ account.title }}</h2>
								<p class="price ajax-detail-price">
									{% get_price account conversion_rate as price %}
									{% include 'snippets/price.html' with currency=currency price=price account=account %}
								</p>
								<div class="space20"></div>
								<p class="taller">{{ account.description }}</p>
								<div class="space20"></div>
								<a href="{{ account.recommended_decks_link }}" class="taller" target="_blank">Recommended decks for this account.</a>
								<div class="space50"></div>
								{% if not account.sold %}
									{% include 'accounts/snippets/update_cart.html' with account=account cart=cart %}
								{% endif %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="tabs tabs-product">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#productDescription" data-toggle="tab">Account Stats</a></li>
									<li><a target="_blank" href="{{ account.player_tag_cards_link }}" data-toggle="tab">Card Deck</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="productDescription">
										<table class="table push-top">
											<tbody>
												<tr>
													<th>
														Device
													</th>
													<td>
														{{ account.get_device_readable }}
													</td>
												</tr>
												<tr>
													<th>
														Account name
													</th>
													<td>
														{{ account.name }}
													</td>
												</tr>
												<tr>
													<th>
														Name Change
													</th>
													<td>
														{% if account.name_change %}
															Yes
														{% else %}
															No
														{% endif %}
													</td>
												</tr>
												<tr>
													<th>
														King Tower Level
													</th>
													<td>
														{{ account.king_tower }}
													</td>
												</tr>
												<tr>
													<th>
														Gold
													</th>
													<td>
														{{ account.gold }}
													</td>
												</tr>
												<tr>
													<th>
														Gems
													</th>
													<td>
														{{ account.gems }}
													</td>
												</tr>
												<tr>
													<th>
														Arena
													</th>
													<td>
														{{ account.get_arena_readable }}
													</td>
												</tr>
												<tr>
													<th>
														Trophies
													</th>
													<td>
														{{ account.trophies }}
													</td>
												</tr>
												<tr>
													<th>
														Highest Trophies
													</th>
													<td>
														{{ account.highest_trophies }}
													</td>
												</tr>
												<tr>
													<th>
														Wins
													</th>
													<td>
														{{ account.wins }}
													</td>
												</tr>
												<tr>
													<th>
														Three Crown Wins
													</th>
													<td>
														{{ account.three_crown_wins }}
													</td>
												</tr>
												<tr>
													<th>
														Cards Found
													</th>
													<td>
														{{ account.cards_found }} / 88
													</td>
												</tr>
												<tr>
													<th>
														Total Donations
													</th>
													<td>
														{{ account.total_donations }}
													</td>
												</tr>
												<tr>
													<th>
														Tournament Matches Played
													</th>
													<td>
														{{ account.tournament_matches_played }}
													</td>
												</tr>
												<tr>
													<th>
														Tournament Cards Won
													</th>
													<td>
														{{ account.tournament_cards_won }}
													</td>
												</tr>
												<tr>
													<th>
														Clan Name
													</th>
													<td>
														{{ account.clan_name }}
													</td>
												</tr>
												<tr>
													<th>
														Clan Member Rank
													</th>
													<td>
														{{ account.get_clan_member_rank_readable }}
													</td>
												</tr>
												<tr>
													<th>
														Clan Trophies 
													</th>
													<td>
														{{ account.clan_trophies }}
													</td>
												</tr>
												<tr>
													<th>
														Clan War Day Wins
													</th>
													<td>
														{{ account.clan_war_day_wins }}
													</td>
												</tr>
												<tr>
													<th>
														Clan War Cards Won
													</th>
													<td>
														{{ account.clan_war_cards_won }}
													</td>
												</tr>
												<tr>
													<th>
														Challenge Max Wins
													</th>
													<td>
														{{ account.challenge_max_wins }}
													</td>
												</tr>
												<tr>
													<th>
														Challenge Cards Won
													</th>
													<td>
														{{ account.challenge_cards_won }}
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Sidebar -->
				{% if account.tags.exists %}
				<aside class="col-md-3">
					<div class="space60"></div>
					<div class="side-widget">
						<h5>Tags</h5>
						<ul class="tags">
							{% for tag in account.tags.all %}
								<li><a href="#">{{ tag.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</aside>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Main content -->
</div>
</body>
{% endblock %}



