{% load static %}
<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="description" content="Royale Accounts - Order confirmation">
  <meta name="author" content="Royale Accounts">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'base/css.html' %}

</head>
<body id="pages">
<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
			<header>
				<div class="container">
	    			<div class="col-md-12">
	      				<!-- Logo -->
	      				<h1 class="logo"><a href="{{ home_url }}"><img src="{% static 'images/logo.png' %}" class="img-responsive" alt="img"></a></h1>
	    			</div>
				</div>
			</header>
		</div>
	</div>

	<div class="space30"></div>

	<!-- Main content -->
	<div class="page-wrap container shop-form-wrap">

		<!-- Shop Content -->
		<div role="main" class="main shop checkout-wrap">
			<div class="row">
				<div class="col-md-12 col-offset-6">
				    <div id="first">
				    	<h1>Thank you</h1>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

{% include 'base/js.html' %}

</html>

