{% load static %}
{% url 'cart:checkout_review' as checkout_review_url %}


<h4><img width="30" height="30" src="{% static 'images/visa.png' %}"> {{ card.brand }}</h4>
<p>**** **** **** {{ card.last4 }}</p>
{% if card.exp_month > 9 %}
	<p>Expires {{ card.exp_month }}/{{ card.exp_year }}</p>
{% else %}
	<p>Expires 0{{ card.exp_month }}/{{ card.exp_year }}</p>
{% endif %}
{% if is_not_review_stage %}
	{% include 'billing/snippets/remembered_cards.html' with next_url=checkout_review_url card=card %}
{% endif %}
<div class="space30"></div>
