{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Contact us about Clash Royale related questions or problems you may be having for your account.">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container contact-wrap">
		<div class="container">
			<div class="space50"></div>
			<h3>Contact Us</h3>
			<div class="space30"></div>
			<div class="col-md-12 no-padding columns">
				<div class="row">
					<div class="col-md-9">
						<h4>Leave a Message</h4>
						<div class="space30"></div>
						<form class="contact-form" id="contactForm" action="{% url 'contact_us' %}" method="post">
							{% csrf_token %}							
							<div class="row">
								<div class="col-md-6">
									{{ form.name.errors }}
									{{ form.name }}

									{{ form.email.errors }}
									{{ form.email }}


									{{ form.subject.errors}}
									{{ form.subject}}
								</div>
								<div class="col-md-6"></div>
							</div>
							{{ form.message.errors }}
							{{ form.message }}
							<button type="submit" id="sendMessage" name="sendMessage" class="btn btn-primary btn-sm btn-orange uppercase pull-right">Send Message</button><br>
						</form>
					</div>
					<aside class="col-md-3">
						<div class="side-widget contact-info">
							<h4>Contact Info</h4>
							
							<h5>Email:</h5>
							<p>support@royale-accounts.com</p>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}