{% extends 'base.html' %}
{% load static %}

{% block title %}Frequently Asked Questions - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Frequently Asked Questions when buying Clash Royale Accounts">
{% endblock %}

{% block content %}
<body id="pages">
<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<div class="col-md-8 col-md-offset-2">
		<h4>FAQ</h4>

		<div class="space40"></div>
	
        <div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						Can my account be banned?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse ">
					<div class="panel-body">
						<p>Yes, but very unlikely. We ensure that all accounts have had an IP cooldown of 24 hours so that Supercell has no way of knowing that an account transfer has occured. If your account is banned, contact us immediately and we will fully refund your order.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						How quickly do I receive my account?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Within seconds. After you have payed for an account order, our systems automatically send you a confirmation email and provide your game account access details in the order details page.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						How do I know the payment method is secure?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<p>To handle bank payments we use the Stripe payment gateway which is used by Facebook, Pinterest, SquareSpace, Shopify and Lyft. All payments are encrypted in 256-bit over a secure SSL connection. Don't worry, you are in safe hands.</p>
					</div>
				</div>
			</div>
            <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						What are the benefits of creating an account?
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Creating an account allows us to save your data to make the checkout process as seemless as possible. It also allows you to view all your previous orders and details related to them very easily compared to as if you were a guest.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						What data do you save about us?
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<p>We store a reference to your payment methods which are stored securely on Stripe servers, saved billing addresses and your email, that's it. We do not share your data with any third parties. What happens on Royale Accounts, stays on Royale Accounts.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						Still have questions?
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<p>If you are still unsure or have questions, feel free to send us an email on our contact page, our staff are more than happy to help you.</p>
						<a class="btn btn-primary btn-white uppercase" href="{% url 'contact_us' %}">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}



