{% extends 'base.html' %}
{% load static %}

{% block title %}Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Cheap Clash Royale accounts for sale">
{% endblock %}

{% block content %}
<body id="home">

  <div class="body">
    <div class="top-wrap">
      <div class="overlay-bg"></div>

   {% include 'base/navbar.html' %}

    <!-- Slider1 -->
    <div class="slider-content container">
      <div id="carousel">
        {% if featured_qs %}
          {% for account in featured_qs %}
            <a width="252" height="357" href="{{ account.get_absolute_url }}"><img src="{{ account.img_feature.url }}" id="item-{{ forloop.counter }}" alt="img"/></a>
          {% endfor %}
        {% else %}
          <a href="#"><img src="//placehold.it/252x357" id="item-1" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-2" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-3" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-4" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-5" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-6" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-7" alt="img" /></a>
        {% endif %}
      </div>
      <div class="scroll-btns">
        <a href="#" id="s-prev">Prev</a> | <a href="#" id="s-next">Next</a>
      </div>
    </div>
    <!-- Slider1 -->

    <div class="space40"></div>

    <!-- Welcome Content -->
    <div class="container welcome">
      <h2>Buy your <span>Clash Royale</span> account now !</h2>
      <div class="space50"></div>
      <div class="btn-wrap">
        <a href="{% url 'accounts:list' %}" class="btn btn-primary btn-lg btn-orange uppercase">Buy an Account!</a>
        <span><img src="{% static 'images/or.png' %}" alt="img"></span>
        <a href="{% url 'faq' %}" class="btn btn-primary btn-lg btn-white uppercase">Learn more</a>
      </div>
      <div class="space60"></div>
    </div>
    <!-- Welcome Content -->
  </div>

  <!-- Services -->
  <div class="container services">
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>1</span><i class="icon-search"></i></div>
      <h4>Find your dream account</h4>
      <p>Our accounts page has something for everyone.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>2</span><i class="fa fa-money"></i></div>
      <h4>Buy it</h4>
      <p>Using our fully encrypted secure payment method.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>3</span><i class="icon-mail3"></i></div>
      <h4>Receive Account</h4>
      <p>Instantly receive account details after purchase.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>4</span><i class="icon-gun"></i></div>
      <h4>Battle!</h4>
      <p>You are now ready for battle. Happy Clashing!</p>
    </div>
  </div>
  <!-- Services -->

  <div class="divider"></div>

  <div class="main-wrap">

      <!-- Testimonials -->
      <h3 class="head-title">Testimonials</h3>
      <div class="home-quotes">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider" id="home-quotes">
              <ul class="slides">
                <li>
                  <p class="quote">Royale Accounts is definetly the best Clash Royale accounts merchant out there. Seconds after placing my order I received my account details through email.</p>
                </li>
                <li>
                  <p class="quote">After having bad experiences on other Clash Royale account websites, I was unsure about trying again, but Royale Accounts worked perfectly. Will definetly use again.</p>
                </li>
                <li>
                  <p class="quote">Royale Accounts is such an amazing service! You can't beat the price for the quality of the accounts and speed of account delivery. Now Clash Royale is less waiting and more battling.</p>
                </li>
                <li>
                  <p class="quote">Royale Accounts allowed me to find accounts that are taylored to my style of play and saved me a tonne of time.</p>
                </li>
                <li>
                  <p class="quote">Thanks for the amazing theme! Using Chemistry to build my new portofolio site was the best idea I've had in years, there are so many flexible options and creative styles!</p>
                </li>
                <li>
                  <p class="quote">Chemistry is such an amazing theme! You can't beat the colors, the options, and the store pages are perfect to setup my online shop, now my website will pay for itself.. thanks again!</p>
                </li>
              </ul>
            </div>
            <ul class="quote-paging">
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Markus Graham</h4>
                <h6>First Customer</h6>
              </li>
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Anthony Clark</h4>
                <h6>Vice President</h6>
              </li>
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Kayman Tang</h4>
                <h6>Manager of Awesome Inc</h6>
              </li>
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Kelly James</h4>
                <h6>Inventer of the Wheel</h6>
              </li>
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Tiffany Rose</h4>
                <h6>Manager of Lorem Ipsum</h6>
              </li>
              <li>
                <img src="//placehold.it/100x105" alt="img">
                <h4>Kobe Yamson</h4>
                <h6>CEO of Terraforming</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

{% endblock %}
