{% extends 'base.html' %}
{% load static %}

{% block title %}Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - Cheap Clash Royale accounts for sale">
{% endblock %}

{% block content %}
<body id="home">

  <div class="body">
    <div class="top-wrap">
      <div class="overlay-bg"></div>

   {% include 'base/navbar.html' %}

    <!-- Slider1 -->
    <div class="slider-content container">
      <div id="carousel">
        {% if featured_qs %}
          {% for account in featured_qs %}
            {% if account.img_feature %}
              <a href="{{ account.get_absolute_url }}"><img width="252" height="357" src="{{ account.img.url }}" id="item-{{ forloop.counter }}" alt="img"/></a>
            {% else %}
              <a href="{{ account.get_absolute_url }}"><img width="252" height="357" src="//placehold.it/252x357" id="item-{{ forloop.counter }}" alt="img"/></a>
            {% endif %}
          {% endfor %}
        {% else %}
          <a href="#"><img src="//placehold.it/252x357" id="item-1" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-2" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-3" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-4" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-5" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-6" alt="img" /></a>
          <a href="#"><img src="//placehold.it/252x357" id="item-7" alt="img" /></a>
        {% endif %}
      </div>
      <div class="scroll-btns">
        <a href="#" id="s-prev">Prev</a> | <a href="#" id="s-next">Next</a>
      </div>
    </div>
    <!-- Slider1 -->

    <div class="space40"></div>

    <!-- Welcome Content -->
    <div class="container welcome">
      <h2>Buy your <span>Clash Royale</span> account now !</h2>
      <div class="space50"></div>
      <div class="btn-wrap">
        <a href="{% url 'accounts:list' %}" class="btn btn-primary btn-lg btn-orange uppercase">Buy an Account!</a>
        <span><img src="{% static 'images/or.png' %}" alt="img"></span>
        <a href="{% url 'faq' %}" class="btn btn-primary btn-lg btn-white uppercase">Learn more</a>
      </div>
      <div class="space60"></div>
    </div>
    <!-- Welcome Content -->
  </div>

  <!-- Services -->
  <div class="container services">
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>1</span><i class="icon-search"></i></div>
      <h4>Find your dream account</h4>
      <p>Our accounts page has something for everyone.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>2</span><i class="fa fa-credit-card"></i></div>
      <h4>Buy it</h4>
      <p>Using Stripe's 256-bit SSL encrypted secure payment gateway.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>3</span><i class="fa fa-truck"></i></div>
      <h4>Receive Account</h4>
      <p>Instantly receive account details after purchase.</p>
    </div>
    <div class="col-md-3 service-content">
      <div class="icon-surround-1"><span>4</span><i class="icon-checkmark3"></i></div>
      <h4>Battle!</h4>
      <p>You are now ready for battle. Happy Clashing!</p>
    </div>
  </div>
  <!-- Services -->

  <div class="divider"></div>

  <div class="main-wrap">

      <!-- Testimonials -->
      <h3 class="head-title">Testimonials</h3>
      <div class="home-quotes">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider" id="home-quotes">
              <ul class="slides">
                <li>
                  <p class="quote">Royale Accounts is definetly the best Clash Royale accounts merchant out there. Seconds after placing my order I received my account details through email.</p>
                </li>
                <li>
                  <p class="quote">After having bad experiences on other Clash Royale account websites, I was unsure about trying again, but Royale Accounts worked perfectly. Will definetly use again.</p>
                </li>
                <li>
                  <p class="quote">Royale Accounts is such an amazing service! You can't beat the price for the quality of the accounts and speed of account delivery. Now Clash Royale is less waiting and more battling.</p>
                </li>
                <li>
                  <p class="quote">Royale Accounts allowed me to find accounts that are taylored to my style of play and saved me loads of time.</p>
                </li>
                <li>
                  <p class="quote">Buying my account on Royale Accounts has allowed me to save money and time compared to buying gems on my account. I am now seeing more rapid progress in my game because I bought an account taylored to my play style.</p>
                </li>
                <li>
                  <p class="quote">The account I bought was exactly as listed in the shop. I was shocked at the low prices given the insane value these accounts have, I am so happy with my purchase and will be coming back for more. My clan mates want to form a clan with these accounts.</p>
                </li>
              </ul>
            </div>
            <ul class="quote-paging">
              <li>
                <h4>TheStraightBoy</h4>
                <h6>4518 Trophies</h6>
              </li>
              <li>
                <h4>PeterMC</h4>
                <h6>3691 Trophies</h6>
              </li>
              <li>
                <h4>Jonathon</h4>
                <h6>4025 Trophies</h6>
              </li>
              <li>
                <h4>Kidquick55</h4>
                <h6>4342 Trophies</h6>
              </li>
              <li>
                <h4>Da Best</h4>
                <h6>4104 Trophies</h6>
              </li>
              <li>
                <h4>Kobee</h4>
                <h6>3983 Trophies</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

{% endblock %}
