<div style="position: relative;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.125);
			border-radius: 0.25rem;">
		
		<div style="padding: 0.75rem 1.25rem;
					margin-bottom: 0;
					background-color: #f7f7f9;
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);">

		<div class="row">
			<div class="col-md-3">
				<h4>Ordered</h4>
				{{ order.updated }}
			</div>
			<div class="col-md-2">
				<h4>Total</h4>
				{{ order.currency }} {{ order.total }}
			</div>
			<div class="col-md-2">
				<h4>Status</h4>
				{{ order.status }}
			</div>
			<div class="col-md-2 col-md-offset-1">
				<h4>Order ID</h4>
				{{ order.order_id }}
			</div>
			<div class="col-md-2">
				<h4>&nbsp;</h4>
				<a style="color:#e96546;" href="{{ order.get_absolute_url }}">Order Details <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
		</div>
		<div style="padding:16px;">
			<table>
				{% for account in order.cart.accounts.all %}
				<tr>
					<td>
						<a href="{{ account.get_absolute_url }}">
							{% if account.img %}
							<img height="100" width="100" src="{{ account.img.url }}">
							{% else %}
							<img src="//placehold.it/100x100">
							{% endif %}
					</a>
				</td>
				<td style="padding-left:16px;">
					<a href="{{ account.get_absolute_url }}">
						<h5 style="margin-bottom: 0.75rem;">{{ account.title }}</h5>
					</a>
					<p class="card-text">{{ account.description }}</p>	
				</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				{% endfor %}
			</table>
		</div>
</div>
<div class="space40"></div>