{% load static %}

<!-- Favicons -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- Google Webfonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/js/libs/respond.min.js"></script>
<![endif]-->

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- Theme Styles CSS-->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/theme-shop.css' %}" rel="stylesheet">
<link href="{% static 'css/elements.css' %}" rel="stylesheet">
<link href="{% static 'fonts/icomoon/iconmoon.css' %}" rel="stylesheet">
<link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

<!-- Plugins CSS -->
<link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'js/flexslider/flexslider.css' %}" rel="stylesheet">
<link href="{% static 'css/isotope.css' %}" rel="stylesheet">
<link href="{% static 'js/slickNav/slicknav.css' %}" rel="stylesheet">
<link href="{% static 'js/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/payment/payment-method.css' %}" rel="stylesheet">
    

  <!--[if lt IE 9]>
  <script src="/js/libs/html5.js"></script>
  <![endif]-->
  