{% load static %}

<!-- JavaScript -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/jquery.waterwheelCarousel.js' %}"></script>
<script src="{% static 'js/slickNav/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/jquery.gmap.js' %}"></script>
<script src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/custom-slider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/royaleaccounts.js' %}"></script>
<script src="{% static 'js/payment-method.js' %}"></script>
<script src="{% static 'js/currency.js' %}"></script>
<script src="{% static 'js/csrf.ajax.js' %}"></script>
<script src="//js.stripe.com/v3/"></script>

