{% extends 'base.html' %}
{% load static %}

{% block title %}Past Orders{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container">
		<div class="row">
			<div class="col-md-12">
				<h3>Past Orders</h3>
			</div>
		</div>

		<!-- Shop Content -->
		<div role="main" class="main shop">
			{% if order_list %}
			<div class="row">
				<div class="col-md-12">
					<ul class="products thumb-info-list">
						{% for order in order_list %}
						<div style="position: relative;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									background-color: #fff;
									border: 1px solid rgba(0, 0, 0, 0.125);
									border-radius: 0.25rem;">
	  						
	  						<div style="padding: 0.75rem 1.25rem;
	  									margin-bottom: 0;
	  									background-color: #f7f7f9;
	  									border-bottom: 1px solid rgba(0, 0, 0, 0.125);">

	    						<div class="row">
									<div class="col-md-3">
										<strong>Ordered the</strong>
									</div>
									<div class="col-md-3">
										<strong>Total</strong>
									</div>
									<div class="col-md-3">
										<strong>Status</strong>
									</div>
									<div class="col-md-2 col-md-offset-1">
										<strong>Order ID</strong>
									</div>
								</div>
								<div class="space10"></div>
								<div class="row">
									<div class="col-md-3">
										{{ order.updated }}
									</div>
									<div class="col-md-3">
										{{ order.currency }}{{ order.total }}
									</div>
									<div class="col-md-3">
										{{ order.status }}
									</div>
									<div class="col-md-2 col-md-offset-1">
										{{ order.order_id }}
									</div>
								</div>
	  						</div>
	  						<div style="padding:16px">
	  							{% for account in order.cart.accounts.all %}
	  								{% if account.img_sml %}
	  								<img height="100" width="100" src="{{ account.img_sml.url }}">
	  								{% else %}
	  								<img src="//placehold.it/100x100">
	  								{% endif %}
		    						<h5 style="margin-bottom: 0.75rem;">{{ account.title }}</h5>
		    						<p class="card-text">{{ account.description }}</p>
		    						<a href="#" class="btn btn-primary btn-orange">Reveal Game Account Details</a>
		    						<div class="space20"></div>
	    						{% endfor %}
	  						</div>
						</div>
						<div class="space20"></div>
						{% endfor %}
					</ul>
					{% if is_paginated %}
					<div class="row page-nav">
						<div class="col-md-12 no-padding">
							<div class="col-md-6">
								<ul>
								{% if page_obj.has_previous %}
									<li><a href="?page=1">1</a></li>
									<li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
            					{% endif %}

								<li class="active"><a href="#">{{ page_obj.number }}</a></li>

            					{% if page_obj.has_next %}
                					<li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
            					{% endif %}
									
								</ul>
							</div>

							<div class="col-md-6">
								<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-md-12">
					<div class="space20"></div>
					<h4>No orders.</h4>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</body>

{% endblock %}





