{% extends 'base.html' %}
{% load static %}

{% block title %}Past Orders - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - View your past orders and get the Clash Royale account details for payed orders">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	
	
</div>
</body>

{% endblock %}





