{% extends 'base.html' %}
{% load static %}

{% block title %}Past Orders - Royale Accounts{% endblock %}

{% block meta %}
<meta name="description" content="Royale Accounts - View paid order details and Clash Royale account access details.">
{% endblock %}

{% block content %}

<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>
		{% include 'base/navbar.html' %}
	</div>

	<div class="space40"></div>

	<!-- Main content -->
	<div class="page-wrap container">
		<!-- Shop Content -->
		<div role="main" class="main shop">
			<div class="row">
				<div class="col-md-12">
					<ul class="products thumb-info-list">
						<div style="position: relative;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									background-color: #fff;
									border: 1px solid rgba(0, 0, 0, 0.125);
									border-radius: 0.25rem;">
	  						
	  						<div style="padding:16px">
	  							<div class="row">
	  								<div class="col-md-4">
	  									<h4>Billing Address</h4>
	  									{{ billing_address.billing_first_name }} {{ billing_address.billing_last_name }}<br>
	  									{{ billing_address.billing_address }}<br>
	  									{{ billing_address.billing_city }}, {{ billing_address.billing_country }}
	  								</div>
	  								<div class="col-md-4">
	  									<h4>Payment Method</h4>
	  									{% if payment_card.brand == "Visa" %}
										<img width="30" height="30" src="{% static 'images/visa.png' %}"> **** {{ payment_card.last4 }}<br>
										{% elif payment_card.brand == "Mastercard" %}
										<img width="30" height="30" src="{% static 'images/mastercard.png' %}"> **** {{ payment_card.last4 }}<br>
										{% elif payment_card.brand == "American Express" %}
										<img width="30" height="30" src="{% static 'images/american-express.png' %}"> **** {{ payment_card.last4 }}<br>
										{% else %}
											<i class="fa fa-credit-card"></i> **** {{ payment_card.last4 }}<br>
										{% endif %}
										{% if card.exp_month > 9 %}
											Expires {{ payment_card.exp_month }}/{{ payment_card.exp_year }}
										{% else %}
											Expires 0{{ payment_card.exp_month }}/{{ payment_card.exp_year }}
										{% endif %}
	  								</div>
	  								<div class="col-md-3 col-md-offset-1">
	  									<h4>Totals</h4>
	  									<strong>Cart total:</strong> {{ order.currency }} {{ order.cart.total }}<br>
	  									<strong>Order total:</strong> {{ order.currency }} {{ order.total }}
	  								</div>
	  							</div>
	  						</div>
						</div>
						<div class="space20"></div>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="products thumb-info-list">
						<div style="position: relative;
									display: -webkit-box;
									display: -webkit-flex;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-orient: vertical;
									-webkit-box-direction: normal;
									-webkit-flex-direction: column;
									-ms-flex-direction: column;
									flex-direction: column;
									background-color: #fff;
									border: 1px solid rgba(0, 0, 0, 0.125);
									border-radius: 0.25rem;">
	  						
	  						<div style="padding:16px">
								<table>
									{% for account in order.cart.accounts.all %}
									<div class="row">
										<tr>
											<td class="col-md-3">
												<a href="{{ account.get_absolute_url }}">
					  								{% if account.img_sml %}
					  								<img height="100" width="100" src="{{ account.img_sml.url }}">
					  								{% else %}
					  								<img src="//placehold.it/100x100">
				  								{% endif %}
			    								</a>
			    							</td>
			    							<td class="col-md-6">
			    								<a class="pull-left" href="{{ account.get_absolute_url }}">
			    									<h5 style="margin-bottom: 0.75rem;">{{ account.title }}</h5>
			    								</a>
			    								<p class="card-text pull-left">{{ account.description }}</p>	
			    							</td>
			    							<td class="col-md-3">
			    								<p class="pull-right">Account Access details <i class="fa fa-chevron-down"></i></p>
			    							</td>
			    							
			    							<div class="space20"></div>
										</tr>
									</div>
									{% endfor %}
								</table>	
  							</div>
						</div>
						<div class="space20"></div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}





